<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Cadastro de Cliente</title>
</head>

<body>
    <div class="topo">
        <a href="{{ url_for('menu') }}">Voltar ao menu</a>
        <a href="{{ url_for('logout') }}">Sair</a>
    </div>

    <h1>Cadastro de Cliente</h1>

    <form action="{{ url_for('cadastrar_cliente') }}" method="post">

        <div id="area-clientes">

            <div class="grupo-cadastro">
                <label>CPF:</label>
                <input type="text" name="cpf" maxlength="11" required>

                <label>Primeiro nome:</label>
                <input type="text" name="primeiro_nome" required>

                <label>Sobrenome:</label>
                <input type="text" name="sobrenome" required>

                <label>Idade:</label>
                <input type="number" name="idade" required>
            </div>

        </div>

        <div class="area-botoes">
            <button type="button" onclick="inserirCliente()" class="btn-inserir">
                Inserir mais
            </button>

            <button type="submit">
                Cadastrar
            </button>
        </div>

    </form>

    <h2>Clientes cadastrados</h2>

    <div class="tabela-container">
        <table>
            <thead>
                <tr>
                    <th>CPF</th>
                    <th>Primeiro Nome</th>
                    <th>Sobrenome</th>
                    <th>Idade</th>
                    <th>Ação</th>
                </tr>
            </thead>

            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.CPF }}</td>
                    <td>{{ cliente.PRIMEIRO_NOME }}</td>
                    <td>{{ cliente.SOBRENOME }}</td>
                    <td>{{ cliente.IDADE }}</td>
                    <td>
                        <form action="{{ url_for('deletar_cliente', cpf=cliente.CPF) }}" method="post"
                            class="form-deletar">
                            <button type="submit" class="btn-deletar">Excluir</button>
                        </form>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5">Nenhum cliente cadastrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% with mensagens = get_flashed_messages() %}
    {% if mensagens %}
    <div class="popup-fundo" id="popup">
        <div class="popup-caixa">
            <h3>Sucesso!</h3>
            <p>{{ mensagens[0] }}</p>
            <button onclick="fecharPopup()">OK</button>
        </div>
    </div>
    {% endif %}
    {% endwith %}

    <script>
        function fecharPopup() {
            const popup = document.getElementById("popup");
            if (popup) {
                popup.style.display = "none";
            }
        }
    </script>

    <script>
        function inserirCliente() {
            const areaClientes = document.getElementById("area-clientes");

            const novoCadastro = document.createElement("div");
            novoCadastro.classList.add("grupo-cadastro");

            novoCadastro.innerHTML = `
            <hr>

            <label>CPF:</label>
            <input type="text" name="cpf" maxlength="11" required>

            <label>Primeiro nome:</label>
            <input type="text" name="primeiro_nome" required>

            <label>Sobrenome:</label>
            <input type="text" name="sobrenome" required>

            <label>Idade:</label>
            <input type="number" name="idade" required>
        `;

            areaClientes.appendChild(novoCadastro);
        }
    </script>
</body>

</html>