<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produtos</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
</head>

<body>
    <div class="topo">
        <a href="{{ url_for('menu') }}">Voltar ao menu</a>
        <a href="{{ url_for('logout') }}">Sair</a>
    </div>
    <h1>Cadastro de Produtos</h1>

    <form action="{{ url_for('cadastrar_produto') }}" method="post">

        <div id="area-produtos">

            <div class="grupo-cadastro">
                <label>Nome do produto:</label>
                <input type="text" name="nome_produto" required>

                <label>Categoria:</label>
                <input type="text" name="categoria" required>

                <label>Preço:</label>
                <input type="number" name="preco" step="0.01" required>

                <label>Quantidade:</label>
                <input type="number" name="quantidade" required>
            </div>

        </div>

        <div class="area-botoes">
            <button type="button" onclick="inserirProduto()" class="btn-inserir">
                Inserir mais
            </button>

            <button type="submit">
                Cadastrar
            </button>
        </div>

    </form>

    <h2>Produtos cadastrados</h2>

    <div class="tabela-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Produto</th>
                    <th>Categoria</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th>Ação</th>
                </tr>
            </thead>

            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>{{ produto.ID_PRODUTO }}</td>
                    <td>{{ produto.NOME_PRODUTO }}</td>
                    <td>{{ produto.CATEGORIA }}</td>
                    <td>R$ {{ produto.PRECO }}</td>
                    <td>{{ produto.QUANTIDADE }}</td>
                    <td>
                        <form action="{{ url_for('deletar_produto', id_produto=produto.ID_PRODUTO) }}" method="post"
                            class="form-deletar">
                            <button type="submit" class="btn-deletar">Excluir</button>
                        </form>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="6">Nenhum produto cadastrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% with mensagens = get_flashed_messages() %}
    {% if mensagens %}
    <div class="popup-fundo" id="popup">
        <div class="popup-caixa">
            <h3>Sucesso!</h3>
            <p>{{ mensagens[0] }}</p>
            <button onclick="fecharPopup()">OK</button>
        </div>
    </div>
    {% endif %}
    {% endwith %}

    <script>
        function fecharPopup() {
            const popup = document.getElementById("popup");

            if (popup) {
                popup.style.display = "none";
            }
        }
    </script>

    <script>
        function inserirProduto() {
            const areaProdutos = document.getElementById("area-produtos");

            const novoCadastro = document.createElement("div");
            novoCadastro.classList.add("grupo-cadastro");

            novoCadastro.innerHTML = `
            <hr>

            <label>Nome do produto:</label>
            <input type="text" name="nome_produto" required>

            <label>Categoria:</label>
            <input type="text" name="categoria" required>

            <label>Preço:</label>
            <input type="number" name="preco" step="0.01" required>

            <label>Quantidade:</label>
            <input type="number" name="quantidade" required>
        `;

            areaProdutos.appendChild(novoCadastro);
        }
    </script>

</body>

</html>